<!DOCTYPE html>
<html>
<head>
  <title>BcmsLdapAuth</title>
  <%= stylesheet_link_tag    "bcms_ldap_auth/application", :media => "all" %>
  <%= javascript_include_tag "bcms_ldap_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
